body {
    background-color: #0D1117;
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI","Noto Sans", Helvetica,Arial,
    sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    display: block;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h1 {
    color: white;
}
label {
    color: white;
}
form {
    max-width: 400px;
    margin: auto;
    background-color: #161b22;
    padding: 20px;
    border-radius: 5px;
}
input[type=text], input[type=date] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    border:none;
    border-radius :5px;
    color:white;
    cursor:pointer
}

button[type="submit"],
button[type="button"]{
    font-size: 16px;
    width: 100%;
    background-color: #67479B;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
button[type="submit"]:hover,
button[type="button"]:hover{
    background-color: #8A67C2;
}
#date, #subgroup, #subject {
    border: none;
    background-color: #0D1117;
    color: white
}
#subject { color: white;}